body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:var(--gray-30);
}
a:hover{
    text-decoration: underline;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}