footer{
    inline-size: 100%;
    position: absolute;
    bottom: 0;
    font-size: var(--font-lg);
    color: var(--gray-40);
    background-color: var(--gray-20);
}
.region{
    padding: 0 1rem;
}
.info-google{
    padding: 0 1rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width:770px){
    footer{
        font-size: var(--font-sm);
    }
    .info-google{
        gap: 10px;
        justify-content: center;
    }
}