.wrapper-main{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    margin: 0 auto;
    max-inline-size: 35rem;
}
/* Logo */
.logo{
    display: flex;
    justify-content: center;
    margin-block-start: 12.125rem;
}
.search{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 5px 1rem;
    border: 1px solid var(--gray-20);
    box-sizing: border-box;
    border-radius: 40px;
}
.search:hover{
    box-shadow: -2px 6px 40px -9px rgba(112,117,122,.3);
}
.icon-search{
    display: inline-block;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    background-image: url('../assets/icons/search.svg');
    background-size: cover;
    opacity: 50%;
}
.search input{
    border: none;
    outline: none;
    block-size: 34px;
    flex: 1;
    font-size: var(--font-lg);
} 
.icon-voice{
    display: inline-block;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    background-image: url('../assets/icons/google-voice.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Buttons */
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
button{
    inline-size: 153px;
    padding: 13px;
    border: none;
    border-radius: 10px;
    font-size: var(--font-md);
    color: var(--gray-40);
    background-color: var(--gray-10);
}
button:hover{
    outline: 1px solid var(--gray-30);
}
/* Languages */
.languages{
    margin: 0 auto;
    font-size:var(--font-sm);
    color: var(--gray-40);
}
.languages a{
    color: blue;
}
@media(max-width:320px){
    .buttons button:nth-child(2){
        display: none;
    }
}